html, body {
	height: 100%;
}

/* Navigation Bar */
#sidim-logo {
	height: 50px;
	width: 50px;
	padding: 4% 0% 4% 0%;
	border-radius: 15%;
}

.navbar-fixed-top .navbar-logo {
    padding: 0% 0% 0% 0%;
}

.navbar-fixed-top .navbar-brand {
	font-size:3em;
}

.navbar-fixed-top .glyphicon {
	margin-right: 8px;
}

.navbar-fixed-top {
	box-shadow: 0 0 2px black;
}


* {
	font-family: 'Roboto', sans-serif;
}